<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestioneProduzione2014GinuxImport.Properties.Settings.GestioneProduzione2009ConnectionString"
            connectionString="Data Source=(local)\SQLEXPRESS;Initial Catalog=GestioneProduzione2009_REDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>